@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?faz63n');
  src:  url('../fonts/icomoon.eot?faz63n#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?faz63n') format('truetype'),
    url('../fonts/icomoon.woff?faz63n') format('woff'),
    url('../fonts/icomoon.svg?faz63n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gallery:before {
  content: "\e902";
}
.icon-layout:before {
  content: "\e903";
}
.icon-sort:before {
  content: "\e904";
}
.icon-suspect:before {
  content: "\e906";
}
.icon-eye-off:before {
  content: "\e900";
}
.icon-eye:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e905";
}
.icon-line:before {
  content: "\ea0b";
}
.icon-arrow-up:before {
  content: "\ea3a";
}
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-arrow-down:before {
  content: "\ea3e";
}
.icon-arrow-left:before {
  content: "\ea40";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
