.card-columns {
    column-gap: 6.2rem !important;
}
@media (max-width: 991px){
    .card-columns {
        column-gap: 3rem !important;
    }
}
@media (max-width: 768px){
    .card-columns {
        column-count: 2 !important;
    }
    .tk-space {
        display: none;
    }
}
@media (max-width: 768px){
    .card-columns {
        column-count: 1 !important;
    }
}
.tk-space {
    height: 105px;
    border: none;
    background-color: transparent;
}
.portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all ease .5s;
    opacity: 0;
    background: #313131;
    color:#49b8d0;
}
.portfolio-hover:hover {
    opacity: 0.9;
}
.portfolio-hover span {
    font-size: 1rem;
    font-weight: bold;
    font-family: sans-serif;
}
.homeTitle {
    top: 15%;
    left: 15%;
    font-size: 3.2vw;
}