html {
    height: 100%;
}
body{
    background-color: #f6f6f6;
}
/*navbar style*/
#navbar {
    background-color: transparent;
}
#menu-Btn {
    background-color: transparent;
    font-size: 2rem;
    line-height: 1;
}
#menu-Btn:focus {
    box-shadow: none;
}
@media screen and (max-width: 780px) {
    /*sidemenu add and navbar none*/

    .navbar-menu {
        display:none ;
    }
    .side-menu-item {
        display: block;
    }

}

/*side menu style*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 2rem;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/*side menu style*/


/*font size*/

.fs-16 {
    font-size: 16px;
}
.fs-25 {
    font-size: 25px;
}
.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

/*font family*/

.ff-cursive {
    font-family: cursive;
}

.text-black {
    color: #000 !important;
}
.text-gray {
    color: #c3c3c3;
}


.fashion-bg{
    background-color: transparent;
    color: #49b8d0;
    border: solid 1px #49b8d0;
}
.fashion-color {
    color:#49b8d0;
}

a:hover {
    color:#49b8d0;
    text-decoration: unset;
}
.btn.focus, .btn:focus {
    box-shadow: unset;
}

.min-h-100vh {
    min-height: 100vh;
}