.navbar-menu {
    visibility: hidden;
}

.container-fluid {
    min-height: 100vh;
    position: absolute;
    top: 0;
}

.list-group-item {
    border: unset;
}
.list-group-flush .list-group-item{
    cursor: pointer;
}
.model-name {
    font-size: 5vw;font-family: monospace;
}