#coverBlk {
    background-image: url("../imgs/cover-reg.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Icon-border {
    font-size: 35px;
    border: solid 1px #49b8d0;
    border-radius: 30%;
    color: #49b8d0;
    background-color: transparent;
    cursor: pointer;
}
@media (max-width: 992px){
    #coverBlk {
        display: none;
    }
}